body
{
  background: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5)), url(images/fives.jpg);
  background-size: cover;
  background-position: center;
}
  *
  {
    margin-left: 0;
    padding: 0;
  }

  .center-div
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .heading
  {
    width: 100%;
    line-height: 80px;
    font-size: 1.4rem; /* 1 rem = 16px*/
    font-weight: bold;
    font-family: 'Roboto', sans-serif;


  }
  form
  {
    width: 400px;
  }